services:
  app:
    container_name: travel-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:3000"
      - "443:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      HOST: 0.0.0.0
    restart: always

networks:
  default:
    name: daily-travel

